@import '../../variables.css';

.controls {
  padding: 10px;
}

.controls__control {
  margin-bottom: 20px;
}

.controls__control-title {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 0.3em;
  padding: 5px 10px;
  border-left: 1px solid var(--color-black);
  display: flex;
  align-items: center;
}

.controls__divider {
  width: 100%;
  border-bottom: 1px solid var(--color-black-a20);
  margin: 20px auto 40px;
}

.app--dark .controls__divider {
  background-color: var(--color-white-a50);
}

.controls__description {
  font-size: 13px;
  margin: 20px 0 10px;
}

.controls__quote {
  margin: 20px 0 10px;
}

.controls__quote-content {
  font-size: 13px;
  padding: 0 10px;
  text-align: justify;
  border-left: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
}

.app--dark .controls__quote-content {
  border-color: var(--color-white);
}

.controls__description:first-child {
  margin-top: 0;
}

.controls__control-children {
  padding: 10px;
}

.app--dark .controls__control-title {
  border-color: var(--color-white);
}

.controls__attribution {
  font-size: 13px;
  text-align: center;
}
