@import '../../variables.css';

.exclusion-control__help {
  font-size: 13px;
  margin: 20px 0;
}

.exclusion-control__points {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.exclusion-control__point {
  fill: var(--color-white);
  stroke: var(--color-black);
  stroke-width: 0.01;
  cursor: pointer;
  transform-origin: center;
  transition: fill 200ms;
}

.app--dark .exclusion-control__point {
  fill: var(--color-black);
  stroke: var(--color-white);
}

.exclusion-control__point--first {
  stroke-width: 0.02;
}

.exclusion-control__point-cross {
  fill: var(--color-white);
  stroke-width: 0;
}

.app--dark .exclusion-control__point-cross {
  fill: var(--color-black);
}

.exclusion-control__point--hover:not(.exclusion-control__point--selected) {
  fill: var(--color-black-a20);
}

.app--dark .exclusion-control__point--hover:not(.exclusion-control__point--selected) {
  fill: var(--color-white-a20);
}

.exclusion-control__point--selected {
  fill: var(--color-black);
}

.app--dark .exclusion-control__point--selected {
  fill: var(--color-white);
}

.exclusion-control__loop {
  fill: none;
  stroke: var(--color-black);
  stroke-width: 0.01;
}

.app--dark .exclusion-control__loop {
  stroke: var(--color-white);
}

.exclusion-control__loop-triangle {
  fill: var(--color-black);
}

.app--dark .exclusion-control__loop-triangle {
  fill: var(--color-white);
}
