@import "../../variables.css";

.radio-control {
  list-style: none;
  margin-bottom: 10px;
}

.radio-control__options {
  display: flex;
}

.radio-control__item {
}

.radio-control__radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  width: 100%;
  text-align: left;
  outline: none;
}

.radio-control__item:not(:last-child) {
  padding-bottom: 10px;
}

.radio-control__radio-dot {
  display: inline-block;
  content: '';
  height: 20px;
  width: 20px;
  border: 1px solid var(--color-black);
  margin-right: 10px;
  transition: background 200ms;
}

.app--dark .radio-control__radio-dot {
  border-color: var(--color-white);
}

.radio-control__radio--hover .radio-control__radio-dot {
  background: var(--color-black-a20);
}

.app--dark .radio-control__radio--hover .radio-control__radio-dot {
  background: var(--color-white-a20);
}

.radio-control__radio--selected  .radio-control__radio-dot {
  background: var(--color-black);
}

.app--dark .radio-control__radio--selected .radio-control__radio-dot {
  background: var(--color-white);
}

.radio-control__radio-name {

  flex: 1;
}
