@import '../../variables.css';

.transform-controls__buttons {
  text-align: center;
  padding-left: 35px;
}

.transform-controls__transform {
  position: relative;
  margin-bottom: 20px;
}

.transform-controls__transform-header {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: inherit;
  margin-bottom: 10px;
}

.transform-controls__transform-probability {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  opacity: 0.6;
}

.transform-controls__transform-buttons {
  position: relative;
  top: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.transform-controls__transform-button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 15px;
  opacity: 0.7;
  transition: opacity 200ms;
}

.transform-controls__transform-button--hover {
  opacity: 1;
}

.transform-controls__transform-button::after {
  display: block;
  content:  '';
  height: 18px;
  width: 18px;
  background: center/contain;
}

.transform-controls__transform-button--shuffle::after {
  background-image: url('./img/shuffle-black.svg');
}

.app--dark .transform-controls__transform-button--shuffle::after {
  background-image: url('./img/shuffle-white.svg');
}

.transform-controls__transform-button--trash::after {
  background-image: url('./img/trash-black.svg');
}

.app--dark .transform-controls__transform-button--trash::after {
  background-image: url('./img/trash-white.svg');
}

.transform-controls__transform-button--reset::after {
  background-image: url('./img/reset-black.svg');
}

.app--dark .transform-controls__transform-button--reset::after {
  background-image: url('./img/reset-white.svg');
}

.transform-control__range {
  display: flex;
}

.transform-controls__transform-color {
  height: 22px;
  width: 22px;
  margin-left: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
}

.transform-controls__transform-range {
  margin-bottom: 10px;
}

.transform-controls__icon {
  fill: var(--color-black);
}

.app--dark .transform-controls__icon {
  fill: var(--color-white);
}

.transform-controls__icon-line {
  stroke: var(--color-black);
  stroke-width: 5;
}

.app--dark .transform-controls__icon-line {
  stroke: var(--color-white);
}

.transform-controls__icon-line--light {
  stroke: var(--color-black-a20);
}

.app--dark .transform-controls__icon-line--light {
  stroke: var(--color-white-a50);
}
