@import '../variables.css';

.app {
  display: flex;
  width: 100%;
  color: var(--color-black);
  background: var(--color-white);
  line-height: 1.8;
}

.app--dark {
  background: var(--color-black);
  color: var(--color-white);
}

.app__controls {
  position: relative;
  width: var(--controls-width--desktop);
}

.app__canvas-container {
  position: relative;
  flex: 1;
  user-select: none;
}

.app__meta-controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 10px;
}

.app__meta-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  opacity: 0.8;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: opacity 100ms;
}

.app__meta-control:hover {
  opacity: 1;
}

.app__meta-control::after {
  display: block;
  content: '';
  height: 50px;
  width: 50px;
  background: transparent center/contain;
}

.app__meta-control--download::after {
  background-image: url('./img/download.svg');
}

.app--dark .app__meta-control--download::after {
  background-image: url('./img/download-white.svg');
}

.app__meta-control--play::after {
  background-image: url('./img/play.svg');
}

.app--dark .app__meta-control--play::after {
  background-image: url('./img/play-white.svg');
}

.app__meta-control--pause::after {
  background-image: url('./img/pause.svg');
}

.app--dark .app__meta-control--pause::after {
  background-image: url('./img/pause-white.svg');
}

.app__download-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white-a95);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.app--dark .app__download-mask {
  background: var(--color-black-a95);
}

.app__download-mask--leave {
  opacity: 1;
}

.app__download-mask--leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
}

.app__download-mask--enter {
  opacity: 0.01;
}

.app__download-mask--enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.app__download-progress {
  position: relative;
  letter-spacing: 0.3em;
  font-weight: 300;
  padding: 10px;
}

.app__download-progress::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-black);
  content: '';
  transform: scaleX(0);
  animation: download-progress-bar 1s forwards;
}

.app--dark .app__download-progress::after {
  background: var(--color-white);
}

@keyframes download-progress-bar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.btn {
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  padding: 5px 10px;
  padding-right: 8px;
  letter-spacing: 0.2em;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--color-black);
  transition:
    200ms background,
    200ms border;
  user-select: none;
  text-decoration: none;
}

.app--dark .btn {
  border-color: var(--color-white);
}

.btn:not(.btn--active):hover {
  background: var(--color-black-a20);
}

.app--dark .btn:not(.btn--active):hover {
  background: var(--color-white-a20);
}

.btn--active {
  background: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

.app--dark .btn--active {
  background: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-black);
}

.btn--inline {
  margin-right: 10px;
}

.btn--block-center {
  display: block;
  margin: 0 auto;
}

.btn--large {
  font-size: 15px;
  font-weight: 300;
}
