@import '../variables.css';

.app {
  width: 100%;
  color: var(--color-black);
  background: var(--color-white);
  line-height: 1.8;
}

.app--dark {
  background: var(--color-black);
  color: var(--color-white);
}

.app__controls {
  position: relative;
  left: 0;
  width: 100%;
}

@media only screen  and (min-width : 800px) {
  .app__controls {
    position: relative;
    left: calc(100% - var(--sidebar-width));
    width: var(--sidebar-width);
  }
}

.app__canvas-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100%;
}

@media only screen and (min-width : 800px) {
  .app__canvas-container {
    position: fixed;
    right: var(--sidebar-width);
    width: auto;
    bottom: 0;
    left: 0;
    padding-top: 0;
  }
}

.app__meta-controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 10px;
}

.app__meta-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  opacity: 0.8;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: opacity 100ms;
}

.app__meta-control--hover {
  opacity: 1;
}

.app__meta-control::after {
  display: block;
  content: '';
  height: 50px;
  width: 50px;
  background: transparent center/contain;
}

.app__meta-control--download::after {
  background-image: url('./img/download.svg');
}

.app--dark .app__meta-control--download::after {
  background-image: url('./img/download-white.svg');
}

.app__meta-control--play::after {
  background-image: url('./img/play.svg');
}

.app--dark .app__meta-control--play::after {
  background-image: url('./img/play-white.svg');
}

.app__meta-control--pause::after {
  background-image: url('./img/pause.svg');
}

.app--dark .app__meta-control--pause::after {
  background-image: url('./img/pause-white.svg');
}
