
.color-controls__help {
  font-size: 13px;
  margin-bottom: 10px;
}

.color-controls__target-control {
  position: relative;
  width: 50%;
  margin: 20px auto;
}

.color-controls__target-control-point {
  cursor: pointer;
}