@import '../variables.css';

.exclusion-control {
  width: 50%;
  margin: 0 auto;
}

.exclusion-control__point {
  fill: var(--color-white);
  stroke: var(--color-black);
  stroke-width: 0.005;
  cursor: pointer;
  transform-origin: center;
  transition: fill 200ms;
}

.exclusion-control__point:not(.exclusion-control__point--excluded):hover {
  fill: var(--color-black-a20);
}

.exclusion-control__point--excluded {
  fill: var(--color-black);
}

.exclusion-control__loop {
  stroke: var(--color-black);
  stroke-width: 0.005;
}
