@import './variables.css';

.app {
  display: flex;
  width: 100%;
}

.app__controls {
  position: relative;
  width: var(--controls-width--desktop);
}

.app__canvas-container {
  position: relative;
  flex: 1;
  user-select: none;
}

.app__canvas-container > * {
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translate(-50%, -50%);
}
