
.app {
  display: flex;
  width: 100%;
}

.app__controls {
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
}

.app__canvas-container {
  position: relative;
  flex: 1;
}

.app__canvas-container > * {
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translate(-50%, -50%);
}
