.point-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.point-control__point {
  position: absolute;
  height: 20px;
  width:  20px;
  background: rgba(55, 71, 79, 0.8);
  border: 1px solid #ECEFF1;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.point-control:hover .point-control__point {
  opacity: 1;
}
