
:root {
  --controls-width--desktop: 400px;

  --padding-full: 10px;
  --padding-half: 5px;
  --padding-double: 20px;

  --color-white: rgba(255, 255, 255, 1);
  --color-white-a95: rgba(255, 255, 255, 0.95);
  --color-white-a50: rgba(255, 255, 255, 0.5);
  --color-white-a20: rgba(255, 255, 255, 0.2);

  --color-black: rgba(38, 50, 56, 1);
  --color-black-a95: rgba(38, 50, 56, 0.95);
  --color-black-a50: rgba(38, 50, 56, 0.5);
  --color-black-a20: rgba(38, 50, 56, 0.2);
}
